<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Akaun simpanan emas patuh syariah. Simpanan serendah RM10.">
    <meta name="author" content="Yusof Musa">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}</title>

    <!-- App favicon -->
    <link rel="shortcut icon" type="image/ico" href="{{site.baseurl}}/assets/img/icon.png">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{site.baseurl}}/assets/js/tailwind-config.js"></script>

</head>